html{
	font-family: Microsoft JhengHei,sans-serif;
}

.header{
	position: absolute;
	background: url(back.jpg) center center; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
  	width: 100%;
   	left: 0px;
  	top: 0px;
}

.text {
	position: absolute;
	top: 42%;
	left: 25%;
	margin-left: -230px;
	height: 210px;
	width: 460px;
	text-align: center;
	font-size: 43px;
	line-height: 70px;
	letter-spacing: 3px;
	color: white;
	border-top: solid 2px white;
  	border-bottom: solid 2px white;
}


nav{
	position: fixed;
	width: 100%;
	margin: 0px;
	top: 0px;
	right: 0px;
	z-index: 100;
	opacity: 1;	
}

.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	height: 85px;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.cbp-af-header.cbp-af-header-shrink {
	background-color: black;
}


ul{
	width: 50%;
	text-align: center;
	margin-left: 41%;
	padding-top: 1%;
	padding-bottom: 1%;
}

li{
	display: inline-block;
	margin: 0;
	padding: 0;
}

.navbutton{
	font-size: 19px;
	color: rgb(0,106,255);
	opacity: 1;
	padding-right: 16px;
	padding-left: 30px;
	font-weight: 400;
	text-decoration: none;
    font-family:Microsoft JhengHei;
}

.navbutton:hover{
	opacity: 0.95;
	 -webkit-transition: 0.3s linear;
}

.click{
	opacity: 0.95;
}


a img{
	position: absolute;
	top: 30%;
	left: 10%;
	height: 50px;

}

#tohome{
	margin-top:15px;
	margin-left: 70px; 
	float: left;
	color:  #f7f7f7;
	opacity: 1;
	font-weight: 200;
	text-decoration: none;
}

#profile{
	width: 100%;
	height: 322%;
	background-color:white;
	position: absolute;
	left: 0px;
	top:100%;
	z-index: 9
}

#plan{
	width: 100%;
	height: 200%;
	background-color:  #f7f7f7;
	position:absolute;
	left: 0px;
	top:419%;
	z-index: 8
}

.clickwrap{
	margin-top:600px; 
}

#arrow{
	position: absolute;
	height: 60px;
	top: 50%;
	right: 2%;
}

#intro{
	text-align: center;
	font-size: 30px;
	margin-top: 120px;
	color: #5c5c5c
}



#wang{
	margin-top: 50px;
	position: relative;
	width: 70%;
	float: left;
	left: 15%;
	border-bottom: solid 1px #dbdbdb
}

.person{
	margin-top: 70px;
	position: relative;
	width: 70%;
	float: left;
	left: 15%;
	border-bottom: solid 1px #dbdbdb
}

.person2{
	margin-top: 70px;
	position: relative;
	width: 70%;
	float: left;
	left: 15%;
}


.title1{
	margin-bottom: 0px;
	font-size: 23px;
	color: #5c5c5c;
}

.title2{
	margin-bottom: 0px;
	font-size: 23px;
	color: #5c5c5c;
	margin-left: 60%;
}

.headpho{
	height: 250px;
	width: 250px;
	margin-left: 20px;
}

#wangph{
	left: 58%;
	float: right;
	margin-right: 0px;
	border-radius: 10px 0px 0px 0px;

}

#chioph{
	left: 29%;
	float: left;
	margin-left: 0px;
	border-radius: 0px 10px 0px 0px;

}

.words1{
	position: absolute;
	width: 50%;
	left: 5%;
	font-size: 20px;
	color: #4c4c4c;
	margin-top: 40px;
}

.words2{
	position: absolute;
	width: 50%;
	left: 45%;
	font-size: 20px;
	color: #4c4c4c;
	margin-top: 40px;
}

#dream{
	font-size: 30px;
	color: #5c5c5c;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}

#main{
	font-size: 20px;
	color: #5c5c5c;
	margin-left: 35%;
}


footer{
	width: 100%;
    text-align: center;
    float: left;
    top: 619%;
    position: absolute;
    left: 0px;
}

#footer{
	height: 80px;
	width: 100%;
	background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 100;
	padding-top: 20px;
}
